@import '../../styles/utils';

.todo-input {
  border-top: 1px solid $oc-gray-2;
  border-bottom: 1px solid $oc-gray-2;
  //flex를 사용하여 손쉽게 레이아웃을 설정합니다.
  display: flex;
  padding: 1rem;
  input {
    // input의 기본 스타일을 지우고 새 스타일을 정의합니다.
    flex: 1; // 부모 요소에서 add-button을 제외한 나머지 공간을 차지합니다.
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: transparent;
    // 텍스트input에 포커싱 됐을 때와 안 되었을 때,
    border-bottom: 1px solid $oc-gray-4;
    &:focus {
      border-bottom: 1px solid $oc-cyan-6;
    }
  }
  .add-button {
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border: 1px solid $oc-green-7;
    color: $oc-green-7;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    // 내용을 가운데에 정렬시킵니다.
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // 마우스가 해당 버튼 위로 올라간 경우
    &:hover {
      background: $oc-green-7;
      color: white;
    }
    // 마우스로 해당 버튼을 누르고 있을 떄
    &:active {
      background: $oc-green-8;
    }
  }
}
